*{
	margin: 0;
	padding: 0;
    font-family: Verdana;	
}

.container{
	width: 5px;
	height:100vh;
	padding-left: 5%;
	padding-right: 5%;
    box-sizing: content-box;
	
			
}

.navbar{
	height: 5%;	
	align-items: center;
	margin-bottom:10px;
}

.logo{
	float: left;
	height: 100px;
	width: 250px;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 30px;
	
}

nav{
	flex:1;
	text-align:right;
	
	
}

nav ul li{
	display: flex;
    align-items: center;
	list-style: none;
	display: inline-block;
	margin-left: 45px;	
	padding-right: 3%;
	margin-top: 80px;
	
}


nav ul li a{
	font-family: Roboto;
	text-decoration: none;	
	color: #808080;
	font-size: 14px;
	padding-bottom: 30%;
	
}

nav ul li a:hover {
  
}


hr {
	margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
	clear: left;
   
}