@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	line-height:1.5;
	font-family: sans-serif;



}

.container{
	max-width:2170px;
	background-color: #454545;
	margin:auto;
	text-align: center;
}

ul{

list-style: none;


}

.row{
	display:flex;
	flex-wrap:wrap;


}



.footer{

	background-color: #717171;
        padding; 70px 0;
	font-family: sans-serif;
	


}

.footer-col{

	width:50%;
	padding: 0 15px;
	align-items: center;
	

}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 300;
	color: #bbbbbb;
	display: black;
	text-align: center;
	
}

.footer-col ul li a:hover{

color: #ffffff;
padding-left:7px;

}

.footer-col .social-links a{
display:inline-block;
height:90px;
width:90px;
background-color: rgba(255,255,255,0.2);
margin: 0 10px 10px 0;
text-align: center;
Line-height: 40px;
border-radius:50%;
color: #ffffff;
transition: all 0.5s ease;

}

.footer-col .social-links a:hover{
	color: #24262b;
	background:-color: #ffffff;
}

@media(max-width: 767px){
.footer-col{
    width: 50%;
    margin-bottom:30px;

}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

